<div class="homeContent">
    <div class="hc_content">
        <span class="hcc_title">Top monitores</span>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
    </div>
    <div class="hc_content">
        <span class="hcc_title">Top audifonos</span>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
    </div>
    <div class="hc_content">
        <span class="hcc_title">Top controles</span>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
    </div>
    <div class="hc_content">
        <span class="hcc_title">Top teclados</span>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
    </div>
    <div class="hc_content">
        <span class="hcc_title">Top mouses</span>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
    </div>
    <div class="hc_content">
        <span class="hcc_title">Top bocinas</span>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
        <%- include('../HomeContentCard/HomeContentCard') %>
    </div>
</div>